body {
	color: #AE7C78;
	font-family: Montserrat, Arial, sans-serif;
}

h1 {
	font-family: Playfair Display, Georgia, serif;
	font-weight: normal;
	font-size: 44px;
	line-height: 59px;
}

h2 {
	font-family: Playfair Display;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 48px;
	letter-spacing: 0.02em;
}

.visually-hidden {

}


button {
	width: 285px;
	height: 80px;
	background: #D89999;
	border-radius: 40px;
	border-color: #D89999;  /* уточнить с границей что */
	color: #FFFFFF;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
}

/* a {
	color:#FFFFFF;
} */

header a {
	color:#AE7C78
}

.firstscreen-first-advantage {
	background-image: url(img/car.svg);
	width: 82px;
	height: 52px;
}

.firstscreen-second-advantage {
	background-image: url(img/flower.svg);
	width: 52px;
	height: 52px;
}

.firstscreen-third-advantage {
	background-image: url(img/camera.svg);
	width: 58.6px;
	height: 52px;
}

.discount-h2 {

}

.discount-text {
	background-color: #AE7C78;
}

.discount-image {
	background-image: url(files/discount-image.jpg);
	width: 590px;
	height: 391px;
}

.steps-step1 {
	background-image: url(img/screen.svg);
	Width: 66.08px;
	Height: 52px;
}

.steps-step2 {
	background-image: url(img/manager.svg);
	Width: 37.49px;
	Height: 52px;
}

.steps-step3 {
	background-image: url(img/card.svg);
	Width: 69.93px;
	Height: 52px;
}

.steps-step4 {
	background-image: url(img/car.svg);
	Width: 82.21px;
	Height: 52px;
}

.news-picture1{ 
	background-image: url(img/news-picture1.jpg);
	width: 285px;
	height: 220px;
}

.news-picture2{ 
	background-image: url(img/news-picture2.jpg);
	width: 285px;
	height: 220px;
}

.news-picture3{ 
	background-image: url(img/news\ picture3.jpg);
	width: 387px;
	height: 460px;
}

.footer {
	background-color: #AE7C78;
}

