
body {
	font-family: "Montserrat", "Arial", sans-serif;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	color: #AE7C78;
}

/* базовые теги */
ul {
	list-style: none;
	margin-left: 0%;
	padding-left: 0%;
}

a {
	text-decoration: none;
	color: #fff
}

h2 {
	font-family: "Playfair Display", "Georgia", serif;
	font-weight: bold;
	font-size: 36px;
	line-height: 48px;
	letter-spacing: 0.02em;
	text-align: center;
}

h3 {
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	
}

/* базовые классы */
.visually-hidden {
	display: none; TODO нормально спрятать
}

.button {
	color: #FFFFFF;
	background-color: #D89999;
	padding: 30px 70px 30px 69px;
	border-radius: 40px;
	border-color: #D89999;
	cursor:pointer;
}

button.button {
	width: 285px;
	height: 80px;
}

.larger-text {
	font-size: 24px;
	line-height: 29px;
	text-align: left;
}

.larger-h2 {
	font-size: 44px;
	line-height: 59px;
	font-weight: 400;
	letter-spacing: normal;
	text-align: left;
}

/* Начались стили по блокам */

/* хэдэр */
.header {
	height: 64px;
	margin-top: 26px;
	border-top: 1px solid #AE7C78;
	border-bottom: 1px solid #AE7C78;
}

.header a {
	color:#AE7C78;
}

/* первый экран */

.italic {
	font-style: italic;
}

.advantages li:nth-of-type(1)::before {
	content: "";
	padding-left: 82px;
	padding-bottom: 52px;
	background-image: url(img/car.svg);
	background-size: 82px;
	background-repeat: no-repeat;
}

.advantages li:nth-of-type(2)::before {
	content: "";
	padding-left: 34px;
	padding-bottom: 52px;
	background-image: url(img/flower.svg);
	background-size: 34px;
	background-repeat: no-repeat;
}

.advantages li:nth-of-type(3)::before {
	content: "";
	padding-left: 59px;
	padding-bottom: 52px;
	background-image: url(img/camera.svg);
	background-size: 59px;
	background-repeat: no-repeat;
}

/* экран популярные букеты */

.card-title {
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
}

.scroll-arrows {
	text-align: center;
}

.scroll-arrow {
	background-color: transparent;
	border: none;
	cursor:pointer;
}


/* экран каталога */

.catalog h3 {
	color: grey; 
	font-family: "Playfair Display", Georgia, serif;
	font-weight: bold;
	font-size: 36px;
	line-height: 48px;
	letter-spacing: 0.02em;
}
/* удалить серый */
.catalog p { 
	color: grey;
}

/* экран скидка 10% */
.discount {
	background-color: #AE7C78;
}

.discount .larger-h2 {
	color:#fff;
}

.discount .larger-text {
	color:#fff;
}

/* экран 4 шага */
.steps-icon {
	height: 52px;
	background-repeat: no-repeat;
}

.steps-advantage:nth-of-type(1) .steps-icon {
	background-image: url(img/screen.svg);
}

.steps-advantage:nth-of-type(2) .steps-icon {
	background-image: url(img/manager.svg);
}

.steps-advantage:nth-of-type(3) .steps-icon {
	background-image: url(img/card.svg);
}

.steps-advantage:nth-of-type(4) .steps-icon {
	background-image: url(img/car.svg);
}

/* экран новости */ 
.news h2 {
	text-align: left;
}

.news-picture1{ 
	background-image: url(img/news-picture1.jpg);
	width: 285px;
	height: 220px;
}

.news-picture2{ 
	background-image: url(img/news-picture2.jpg);
	width: 285px;
	height: 220px;
}

.news-picture3{ 
	background-image: url(img/news\ picture3.jpg);
	width: 387px;
	height: 460px;
}

/* экран отзывы */
.reviews {
	border: 1px solid #AE7C78;
	margin: 120px 80px;
}

.review-text {
	text-align: center;
}

.review-text cite {
	font-weight: 500;
	font-style: normal;
}

/* карта */
.contacts-bkg {
	background-color: #F7FAFC;
	box-shadow: 0px 4px 40px rgba(217, 217, 217, 0.3);
	border-radius: 12px;
	width: 386px;
	height: 520px;
}

.larger-contacts {
	font-weight: 500;
}

.map a {
	color:#AE7C78;
}

/* футтер */
.footer {
	background-color: #AE7C78;
}